<div class="row text-center">
    <h2> {{ title }} </h2>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <!-- Tabla de canchas -->
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Sede</th>
                    <th>Cancha</th>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Importe</th>
                    <th>Cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bean of reservas">
                    <td>{{ bean.sede }}</td>
                    <td>{{ bean.cancha }}</td>
                    <td>{{ bean.fecha_reserva }}</td>
                    <td>{{ bean.hora_reserva }}</td>
                    <td>{{ bean.hora_reserva + 1 }}</td>
                    <td>{{ bean.importe }}</td>
                    <td>{{ bean.cliente }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <form [formGroup]="reporteForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="fechaInicio">Fecha Inicio</label>
                <input type="date" class="form-control" id="fechaInicio" formControlName="fecha_inicio"
                    (change)="onFechaInicioChange($event)">
            </div>
            <div class="form-group">
                <label for="fechaFin">Fecha Fin</label>
                <input type="date" class="form-control" id="fechaFin" formControlName="fecha_fin"
                    (change)="onFechaFinChange($event)">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">
                Buscar
            </button>
        </form>
    </div>
</div>