<div class="container mt-5">
  <h2 class="text-center">Canchas Sintéticas Perú</h2>
  <h4 class="text-center mb-4">Bienvenido. Regístrate.</h4>

  <form class="form-container" (ngSubmit)="register()" #registrationForm="ngForm">
    <div class="mb-3">
      <label for="nombres" class="form-label">Nombres:</label>
      <input type="text" class="form-control" id="nombres" [(ngModel)]="user.nombres" name="nombres" required
        pattern="[A-Za-z ]+">
    </div>
    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos:</label>
      <input type="text" class="form-control" id="apellidos" [(ngModel)]="user.apellidos" name="apellidos" required
        pattern="[A-Za-z ]+">
    </div>
    <div class="mb-3">
      <label for="nro_documento" class="form-label">DNI:</label>
      <input type="text" class="form-control" id="nro_documento" [(ngModel)]="user.nro_documento" name="nro_documento"
        maxlength="8" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required
        minlength="6">
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Repetir Contraseña:</label>
      <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword"
        name="confirmPassword" required>
    </div>
    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono:</label>
      <input type="number" class="form-control" id="telefono" [(ngModel)]="user.telefono" name="telefono"
        max="999999999" required>
    </div>
    <button type="submit" class="btn btn-primary w-100 btn-green">Registrar</button>
  </form>
</div>